<ion-header>
  <ion-navbar>
    <ion-title>
      {{dep.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider color="primary">Undergraduate</ion-item-divider>
      <ion-item
        (click)="viewCourse(course)"
        *ngFor="let course of courses.Undergraduate; let i = index">
        <div>
          <span>{{ course.num }}</span>
          <span>{{ course.name }}</span>
        </div>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider color="primary">Graduate</ion-item-divider>
      <ion-item
        (click)="viewCourse(course)"
        *ngFor="let course of courses.Graduate; let i = index">
        <div>
          <span>{{ course.num }}</span>
          <span>{{ course.name }}</span>
        </div>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
