page-department {

  ion-item {
    div {
      display: flex;
      & .mcn {
        display: flex;
        flex-direction: column;
        white-space: normal;
        padding: 2px;
        font-weight: bold;
        flex: 20%;
        & span {
          padding: 5px 0;
        }
      }
      & .body {
        display: flex;
        flex-direction: column;
        white-space: normal;
        padding: 2px;
        flex: 80%;
        & span {
          padding: 5px 0;
        }
      }
    }
  }
}
