page-department {

  ion-item {
    div {
      display: flex;
      span {
        white-space: normal;
        padding: 2px;
        &:nth-child(1) {
          font-weight: bold;
          flex: 20%;
        }
        &:nth-child(2) {
          flex: 80%;
        }
      }
    }
  }

}
