<ion-header>
  <ion-navbar>
    <ion-title>
      Favorites
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item text-wrap *ngIf="!favorites.length">
      <h1>Open a course and click the star in the top-right corner!</h1>
    </ion-item>
    <ion-item *ngFor="let course of favorites"
     text-wrap (click)="viewCourse(course)">
      <ion-avatar item-left>
        <img [src]="course.image">
      </ion-avatar>
      <h2>{{ course.title }}</h2>
      <p>
        <span>
          {{ course.mcn }}
        </span>
        <span>
          {{ course.sem }}
        </span>
      </p>
    </ion-item>
  </ion-list>
</ion-content>
